html {
  font-size: 18px;
  font-family: helvetica, sans-serif;
  line-height: 1.4;

}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}


/*header*/
header {
  box-sizing: border-box;
  color: azure;
  background-color: cadetblue;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}

.ident {
  display: flex;
  align-items: center;
}

.ident img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav span {
  margin-left: 2rem;
}

nav span a {
  color: azure;
}

/*Lead banner*/
.banner {
  height: 31rem;
  background-image: url(../img/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-msg {
  margin: 10rem -2rem 0 0;
  display: flex;
  justify-content: flex-end;
}

.banner-msg span {
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: black;
  text-transform: uppercase;
}

/*Services section*/
#services {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  height: 8rem;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 5rem;
  margin: 0 3rem;
}

.service-item img {
  width: 3.5rem;
  display: block;
}

/*About section*/
#about {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.about-item {
  width: 35%;
}

.sub-head {
  width: 10rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
}

.sub-head h2 {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}
