html {
  font-size: 18px;
  font-family: helvetica, sans-serif;
  line-height: 1.4;
}

p, h4 {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.hidden {
  display: none;
}

/*header*/
header {
  box-sizing: border-box;
  color: azure;
  background-color: cadetblue;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}

.ident {
  display: flex;
  align-items: center;
}

.ident img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav span {
  margin-left: 2rem;
}

nav span a {
  color: azure;
}

/*Lead banner*/
.banner {
  height: 31rem;
  background-image: url(../img/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner-msg {
  margin: 10rem -2rem 0 0;
  display: flex;
  justify-content: flex-end;
}

.banner-msg span {
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  color: black;
  text-transform: uppercase;
}

/*Services section*/
#services {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  height: 8rem;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 5rem;
  margin: 0 3rem;
}

.service-item img {
  width: 3.5rem;
  display: block;
}

/*About section*/
#about {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.about-item {
  width: 35%;
  margin: 0 2.5%;
}

.sub-head {
  width: 10rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
}

.sub-head h2 {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

/*Footer*/
footer {
  background-color: azure;
}

footer .container {
  display: flex;
  justify-content: flex-start;

}

.copyright {
  display: flex;
  align-items: center;
  padding: 4rem;
}

.copyright img {
  height: 1.5rem;
  margin-right: 1rem;
}

@media screen and (max-width: 960px) {
  header {
    top: 0;
  }
  .banner {
    height: 22rem;
  }
  .banner-msg {
    margin: 5rem 2rem;
  }
  .banner-msg span {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media screen and (max-width: 700px) {

/*top section*/
  nav span.hidden {
    display: inherit;
  }
  .desktop-menu {
    display: none;
  }
  .banner {
    height: 17rem;
  }
  .banner-msg {
    margin: 9rem 0;
    display: block;
  }
  .banner-msg span {
    width: 100%;
  }
}

/*services mobile styles*/
#services {
  margin: 3.77rem 0;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.service-item {
  margin: 1.54rem;
}

/*About section mobile styles*/
#about {
  flex-direction: column;
}

.about-item {
  width: 100%;
  margin: 0 0 4rem 0;
}

.about-item p {
  font-size: 0.77rem;
  margin: 0 0.5rem;
}

.sub-head {
  width: 100%;
  text-align: center;
}

/*Footer mobile styles*/
footer .container {
  justify-content: center;
}

.copyright p {
  display: none;
}
